<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="andrienkoaleksandr.com.github.testreaction" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.actionbar.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GameThread" />
        <activity
            android:name=".SecondActivity"
            android:label="@string/title_activity_second_"
            android:parentActivityName=".activity.actionbar.MainActivity" >
        </activity>
        <activity
            android:name=".activity.actionbar.SecondActivity"
            android:label="@string/title_activity_second" >
        </activity>
    </application>

</manifest>
